@import "navbar.css";
@import "header.css";
@import "numeros.css";
@import "work.css";
@import "vagas.css";
@import "colaborators.css";
@import "footer.css";

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    .btn__menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    nav {
        width: 100%;
    }
    
    .-p {
        display: none;
    }

    .btn__menu {
        font-size: 22px;
    }
    
    nav img {
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .register {
        margin-right: 16px;
    }
    
    .front__text {
        width: 600px;
    }
    
    .numeros {
        display: flex;
        flex-direction: column;
    }

    .work img {
        width: 700px;
    }
    
    .title {
        margin-left: 175px;
    }
    .vaga {
        width: 600px;
    }

    .colaborators {
        width: 500px;
    }

    .quote h1{
        width: 500px;
        font-size: 20px;
    }

    footer {
        width: 768px;
    }

    .footer__text h1 {
        font-size: 30px;
    }

    .footer__text p {
        font-size: 17px;
    }

    .e-mail__box {
        width: 400px;
    }

    .e-mail__box button {
        width: 96px;
        padding: 10px 10px;
    }

    .footer__p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    nav img {
        margin-left: 16px;
        margin-right: 16px;
    }

    .front h1 {
        margin-left: 490px;
        width: 1000px;
        font-size: 40px;
    }

    .front__text {
        width: 500px;
    }

    .work h1 {
        font-size: 32px;
    }

    .work p {
        width: 500px;
        text-align: center;
    }

    .work img {
        width: 550px;
    }

    .title {
        margin-left: 240px;
    }

    .vaga {
        width: 540px;
    }

    .colaborators {
        width: 400px;
    }

    .quote h1{
        width: 450px;
        font-size: 20px;
    }

    footer {
        width: 600px;
    }

    .footer__text h1 {
        font-size: 26px;
    }

    .footer__text p {
        font-size: 15px;
    }

    .e-mail__box {
        width: 380px;
    }

    .e-mail__box button {
        width: 88px;
        padding: 8px 5px;
    }

    .footer__p {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .front h1 {
        margin-left: 615px;
        font-size: 30px;
    }

    .front__text {
        width: 400px;
        font-size: 16px;
        display: flex;
        text-align: center;
    }

    .numeros {
        display: flex;
        text-align: center;
    }

    .work h1 {
        font-size: 25px;
    }

    .work p {
        width: 400px;
        font-size: 20px;
    }

    .work img {
        width: 450px;
    }

    .title {
        margin-left: 340px;
    }

    .vaga {
        width: 450px;
    }

    .colaborators {
        width: 325px;
    }

    .quote h1{
        width: 400px;
        font-size: 20px;
    }

    footer {
        width: 500px;
    }

    .footer__text h1 {
        font-size: 22px;
    }

    .footer__text p {
        font-size: 14px;
    }

    .e-mail__box {
        width: 380px;
    }

    .e-mail__box button {
        font-size: 12px;
        width: 75px;
    }

    .footer__p {
        font-size: 13px;
    }
}